[submodule "deps/otto-gfx"]
	path = deps/otto-gfx
	url = git@github.com:NextThingCo/otto-gfx.git
[submodule "deps/Choreograph"]
	path = deps/Choreograph
	url = https://github.com/sansumbrella/Choreograph.git
[submodule "deps/entityx"]
	path = deps/entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "deps/otto-utils"]
	path = deps/otto-utils
	url = git@github.com:NextThingCo/otto-utils.git
[submodule "deps/libOttoHardware"]
	path = deps/libOttoHardware
	url = git@github.com:NextThingCo/libOttoHardware.git
[submodule "deps/otto-runner"]
	path = deps/otto-runner
	url = git@github.com:NextThingCo/otto-runner.git
