[submodule "deps/otto-gfx"]
	path = deps/otto-gfx
	url = git@github.com:NextThingCo/otto-gfx.git
[submodule "deps/otto-sdk"]
	path = deps/otto-sdk
	url = git@github.com:NextThingCo/otto-sdk.git
[submodule "deps/Choreograph"]
	path = deps/Choreograph
	url = https://github.com/sansumbrella/Choreograph.git
[submodule "deps/entityx"]
	path = deps/entityx
	url = https://github.com/alecthomas/entityx.git
